## editor
/.idea
/.zed
/.vscode
##language
/.cargo
/.venv
# build
/target
/target/.rustc_info.json
/build.cmd
/out
src/runtime_lib/target/
# profiling
flamegraph.svg
profile_flamegraph.svg
chess_flamegraph.svg
perf.data
perf.data.old
